body {
    background: #C1BBBB; /* цвета на background-a */
}

.section {

}

.section .inner {
    max-width: 1300px;  /* width на content-a */
    margin: 0 auto;     /* центриране на content-a */
}

