body::before {
    padding: 1em 1.5em;
    margin-bottom: 1.5em;
    background: #369;
    border-radius: 0.3em;
    color: white;
}

@media (hover: none) {
    body::before {
        display: block;
        content: 'The device does NOT support hover';
    }
}

@media (hover: hover) {
    body::before {
        display: block;
        content: 'The device does support hover';
    }
}