div {
    padding: 2em;
    border: 1px dashed #333;
    position: relative;
}

div::before{
    display: block;
    position: absolute;
    top: 0.4em;
    left: 0.7em;
}

.box-model {
    margin: 40px auto;
    width: 700px;
}

.content {
    background-color: lightblue;
    text-align: center;
}

.padding {
    background-color: lightgreen;
}

.padding::before{
    content: 'padding';
}

.border{
    background-color: blanchedalmond;
}

.border::before{
    content: 'border';
}

.margin {
    background-color: lightsalmon;
}

.margin::before{
    content: 'margin';
}